/* styles */

.instructors-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.instructor-item {
    text-align: center;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}
