{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-5">Events</h1>
    <ul class="list-group mt-4">
        {% for event in events %}
            <li class="list-group-item">
                <div class="event-outline d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ event['title'] }}</strong><br>
                        Description: {{ event['desc'] }}<br>
                        Event Date: {{ event['event_date'] }}<br>
                        Location: {{ event['location'] }}<br>
                        Participants: {{ event['participants'] }} / {{ event['max_participants'] }}<br>
                    </div>
                    <div>
                        {% if event['id'] in bookings %}
                            <button class="btn btn-secondary mt-2" disabled>Booked</button>
                        {% elif event['participants'] >= event['max_participants'] %}
                            <form method="POST" action="{{ url_for('create_booking', event_id=event['id']) }}">
                                <input type="hidden" name="action" value="join_waiting_list">
                                <button type="submit" class="btn btn-warning mt-2">Join Waiting List</button>
                            </form>
                        {% else %}
                            <form method="POST" action="{{ url_for('create_booking', event_id=event['id']) }}">
                                <input type="hidden" name="action" value="book_event">
                                <button type="submit" class="btn btn-primary mt-2">Book</button>
                            </form>
                        {% endif %}
                        {% if is_admin() %}
                            <form method="POST" action="{{ url_for('remove_event', event_id=event['id']) }}">
                                <button type="submit" class="btn btn-danger mt-2">Remove Event (Admin)</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}